<footer class="bg-dark text-light py-5">
   <div class="row mx-5">
      <div class="col-md-4">
            <h5>GatorRent</h5>
            <small class="text-muted">
               SFSU Software Engineering Project
               <p>CSC 648-848, Spring 2019.</p>
               <p>For Demonstration Only</p>
            </small>
      </div>
      <div class="col-md-4">
         <h5>Site</h5>
         <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ url_for('about') }}">About</a></li>
            <li><a class="text-muted" href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a class="text-muted" href="{{ url_for('login') }}">Admin Login</a></li>
         </ul>
      </div>
      <div class="col-md-4">
         <h5>Resources</h5>
         <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://housing.sfsu.edu/">SFSU Housing</a></li>
         </ul>
      </div>
   </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
   integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
   integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
