<form action="" method='POST'>
  <h3>Message</h3>
  <hr>
  <!--Message  container row class  -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <p>Have a question, concern, or comment? We'd love to hear from you.</p>
        <!-- Text-message input form -->
        <br>
        <textarea type="text" id="comment" name="comment" class="form-control" rows="10" cols="70" placeholder="Enter message" required></textarea>
        <!-- <textarea class="form-control" id='comment' rows="10" cols="70" placeholder="Please enter your message here..."required></textarea> -->
      </div>
      <div class="send-button row">
        <div class="col-md-8">
          <!-- Text-message Clear button -->
        </div>
        <div class="col-md-4">
          <!-- Text-message send button -->
          <button class="btn btn-primary w-100" type="submit"value="Submit">Send Message</button>
          </div>
        </div>
      </div>
    </div>  <!-- End of message container row class -->
  </form>
