<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <div class="navbar-nav align-content-center">
         <ul class="navbar-nav align-items-center px-2">
            <li class="nav-item"><a class="btn btn-sm btn-primary" href="{{ url_for('post') }}" role="button">Post</a></li>
         </ul>
         <ul class="navbar-nav align-items-center">
            {% if session['username'] %}
            <li class="nav-item"><a class="btn-sm btn btn-outline-primary" href="{{ url_for('user_messages') }}" role="button"><i class="far fa-user"></i> {{ session['username'] }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>